/* --------------------------------
COLORS From Material-UI
-------------------------------- */

$red50:  #ffebee !default;
$red100: #ffcdd2 !default;
$red200: #ef9a9a !default;
$red300: #e57373 !default;
$red400: #ef5350 !default;
$red500: #f44336 !default;
$red600: #e53935 !default;
$red700: #d32f2f !default;
$red800: #c62828 !default;
$red900: #b71c1c !default;
$redA100: #ff8a80 !default;
$redA200: #ff5252 !default;
$redA400: #ff1744 !default;
$redA700: #d50000 !default;

$pink50:  #fce4ec !default;
$pink100: #f8bbd0 !default;
$pink200: #f48fb1 !default;
$pink300: #f06292 !default;
$pink400: #ec407a !default;
$pink500: #e91e63 !default;
$pink600: #d81b60 !default;
$pink700: #c2185b !default;
$pink800: #ad1457 !default;
$pink900: #880e4f !default;
$pinkA100: #ff80ab !default;
$pinkA200: #ff4081 !default;
$pinkA400: #f50057 !default;
$pinkA700: #c51162 !default;

$purple50:  #f3e5f5 !default;
$purple100: #e1bee7 !default;
$purple200: #ce93d8 !default;
$purple300: #ba68c8 !default;
$purple400: #ab47bc !default;
$purple500: #9c27b0 !default;
$purple600: #8e24aa !default;
$purple700: #7b1fa2 !default;
$purple800: #6a1b9a !default;
$purple900: #4a148c !default;
$purpleA100: #ea80fc !default;
$purpleA200: #e040fb !default;
$purpleA400: #d500f9 !default;
$purpleA700: #aa00ff !default;

$deepPurple50:  #ede7f6 !default;
$deepPurple100: #d1c4e9 !default;
$deepPurple200: #b39ddb !default;
$deepPurple300: #9575cd !default;
$deepPurple400: #7e57c2 !default;
$deepPurple500: #673ab7 !default;
$deepPurple600: #5e35b1 !default;
$deepPurple700: #512da8 !default;
$deepPurple800: #4527a0 !default;
$deepPurple900: #311b92 !default;
$deepPurpleA100: #b388ff !default;
$deepPurpleA200: #7c4dff !default;
$deepPurpleA400: #651fff !default;
$deepPurpleA700: #6200ea !default;

$indigo50:   #e8eaf6 !default;
$indigo100:  #c5cae9 !default;
$indigo200:  #9fa8da !default;
$indigo300:  #7986cb !default;
$indigo400:  #5c6bc0 !default;
$indigo500:  #3f51b5 !default;
$indigo600:  #3949ab !default;
$indigo700:  #303f9f !default;
$indigo800:  #283593 !default;
$indigo900:  #1a237e !default;
$indigoA100: #8c9eff !default;
$indigoA200: #536dfe !default;
$indigoA400: #3d5afe !default;
$indigoA700: #304ffe !default;

$blue50:  #e3f2fd !default;
$blue100: #bbdefb !default;
$blue200: #90caf9 !default;
$blue300: #64b5f6 !default;
$blue400: #42a5f5 !default;
$blue500: #2196f3 !default;
$blue600: #1e88e5 !default;
$blue700: #1976d2 !default;
$blue800: #1565c0 !default;
$blue900: #0d47a1 !default;
$blueA100: #82b1ff !default;
$blueA200: #448aff !default;
$blueA400: #2979ff !default;
$blueA700: #2962ff !default;

$lightBlue50:  #e1f5fe !default;
$lightBlue100: #b3e5fc !default;
$lightBlue200: #81d4fa !default;
$lightBlue300: #4fc3f7 !default;
$lightBlue400: #29b6f6 !default;
$lightBlue500: #03a9f4 !default;
$lightBlue600: #039be5 !default;
$lightBlue700: #0288d1 !default;
$lightBlue800: #0277bd !default;
$lightBlue900: #01579b !default;
$lightBlueA100: #80d8ff !default;
$lightBlueA200: #40c4ff !default;
$lightBlueA400: #00b0ff !default;
$lightBlueA700: #0091ea !default;

$cyan50:  #e0f7fa !default;
$cyan100: #b2ebf2 !default;
$cyan200: #80deea !default;
$cyan300: #4dd0e1 !default;
$cyan400: #26c6da !default;
$cyan500: #00bcd4 !default;
$cyan600: #00acc1 !default;
$cyan700: #0097a7 !default;
$cyan800: #00838f !default;
$cyan900: #006064 !default;
$cyanA100: #84ffff !default;
$cyanA200: #18ffff !default;
$cyanA400: #00e5ff !default;
$cyanA700: #00b8d4 !default;

$teal50:  #e0f2f1 !default;
$teal100: #b2dfdb !default;
$teal200: #80cbc4 !default;
$teal300: #4db6ac !default;
$teal400: #26a69a !default;
$teal500: #009688 !default;
$teal600: #00897b !default;
$teal700: #00796b !default;
$teal800: #00695c !default;
$teal900: #004d40 !default;
$tealA100: #a7ffeb !default;
$tealA200: #64ffda !default;
$tealA400: #1de9b6 !default;
$tealA700: #00bfa5 !default;

$green50:  #e8f5e9 !default;
$green100: #c8e6c9 !default;
$green200: #a5d6a7 !default;
$green300: #81c784 !default;
$green400: #66bb6a !default;
$green500: #4caf50 !default;
$green600: #43a047 !default;
$green700: #388e3c !default;
$green800: #2e7d32 !default;
$green900: #1b5e20 !default;
$greenA100: #b9f6ca !default;
$greenA200: #69f0ae !default;
$greenA400: #00e676 !default;
$greenA700: #00c853 !default;

$lightGreen50:  #f1f8e9 !default;
$lightGreen100: #dcedc8 !default;
$lightGreen200: #c5e1a5 !default;
$lightGreen300: #aed581 !default;
$lightGreen400: #9ccc65 !default;
$lightGreen500: #8bc34a !default;
$lightGreen600: #7cb342 !default;
$lightGreen700: #689f38 !default;
$lightGreen800: #558b2f !default;
$lightGreen900: #33691e !default;
$lightGreenA100: #ccff90 !default;
$lightGreenA200: #b2ff59 !default;
$lightGreenA400: #76ff03 !default;
$lightGreenA700: #64dd17 !default;

$lime50:  #f9fbe7 !default;
$lime100: #f0f4c3 !default;
$lime200: #e6ee9c !default;
$lime300: #dce775 !default;
$lime400: #d4e157 !default;
$lime500: #cddc39 !default;
$lime600: #c0ca33 !default;
$lime700: #afb42b !default;
$lime800: #9e9d24 !default;
$lime900: #827717 !default;
$limeA100: #f4ff81 !default;
$limeA200: #eeff41 !default;
$limeA400: #c6ff00 !default;
$limeA700: #aeea00 !default;

$yellow50:  #fffde7 !default;
$yellow100: #fff9c4 !default;
$yellow200: #fff59d !default;
$yellow300: #fff176 !default;
$yellow400: #ffee58 !default;
$yellow500: #ffeb3b !default;
$yellow600: #fdd835 !default;
$yellow700: #fbc02d !default;
$yellow800: #f9a825 !default;
$yellow900: #f57f17 !default;
$yellowA100: #ffff8d !default;
$yellowA200: #ffff00 !default;
$yellowA400: #ffea00 !default;
$yellowA700: #ffd600 !default;

$amber50:  #fff8e1 !default;
$amber100: #ffecb3 !default;
$amber200: #ffe082 !default;
$amber300: #ffd54f !default;
$amber400: #ffca28 !default;
$amber500: #ffc107 !default;
$amber600: #ffb300 !default;
$amber700: #ffa000 !default;
$amber800: #ff8f00 !default;
$amber900: #ff6f00 !default;
$amberA100: #ffe57f !default;
$amberA200: #ffd740 !default;
$amberA400: #ffc400 !default;
$amberA700: #ffab00 !default;

$orange50:  #fff3e0 !default;
$orange100: #ffe0b2 !default;
$orange200: #ffcc80 !default;
$orange300: #ffb74d !default;
$orange400: #ffa726 !default;
$orange500: #ff9800 !default;
$orange600: #fb8c00 !default;
$orange700: #f57c00 !default;
$orange800: #ef6c00 !default;
$orange900: #e65100 !default;
$orangeA100: #ffd180 !default;
$orangeA200: #ffab40 !default;
$orangeA400: #ff9100 !default;
$orangeA700: #ff6d00 !default;

$deepOrange50:  #fbe9e7 !default;
$deepOrange100: #ffccbc !default;
$deepOrange200: #ffab91 !default;
$deepOrange300: #ff8a65 !default;
$deepOrange400: #ff7043 !default;
$deepOrange500: #ff5722 !default;
$deepOrange600: #f4511e !default;
$deepOrange700: #e64a19 !default;
$deepOrange800: #d84315 !default;
$deepOrange900: #bf360c !default;
$deepOrangeA100: #ff9e80 !default;
$deepOrangeA200: #ff6e40 !default;
$deepOrangeA400: #ff3d00 !default;
$deepOrangeA700: #dd2c00 !default;

$brown50:  #efebe9 !default;
$brown100: #d7ccc8 !default;
$brown200: #bcaaa4 !default;
$brown300: #a1887f !default;
$brown400: #8d6e63 !default;
$brown500: #795548 !default;
$brown600: #6d4c41 !default;
$brown700: #5d4037 !default;
$brown800: #4e342e !default;
$brown900: #3e2723 !default;

$blueGrey50:  #eceff1 !default;
$blueGrey100: #cfd8dc !default;
$blueGrey200: #b0bec5 !default;
$blueGrey300: #90a4ae !default;
$blueGrey400: #78909c !default;
$blueGrey500: #607d8b !default;
$blueGrey600: #546e7a !default;
$blueGrey700: #455a64 !default;
$blueGrey800: #37474f !default;
$blueGrey900: #263238 !default;

$grey50:  #fafafa !default;
$grey100: #f5f5f5 !default;
$grey200: #eeeeee !default;
$grey300: #e0e0e0 !default;
$grey400: #bdbdbd !default;
$grey500: #9e9e9e !default;
$grey600: #757575 !default;
$grey700: #616161 !default;
$grey800: #424242 !default;
$grey900: #212121 !default;

$black: #000000 !default;
$white: #ffffff !default;

$transparent: rgba(0, 0, 0, 0) !default;
$fullBlack: rgba(0, 0, 0, 1) !default;
$darkBlack: rgba(0, 0, 0, 0.87) !default;
$lightBlack: rgba(0, 0, 0, 0.54) !default;
$minBlack: rgba(0, 0, 0, 0.26) !default;
$faintBlack: rgba(0, 0, 0, 0.12) !default;
$fullWhite: rgba(255, 255, 255, 1) !default;
$darkWhite: rgba(255, 255, 255, 0.87) !default;
$lightWhite: rgba(255, 255, 255, 0.54) !default;
